{% extends "base.html" %}
{% block content %}
<div class="container pt-5" style="width: 50%; margin: auto;">
    <div class="welcome-section">
        <h1 class="welcome-message">Welcome to Our Website</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident eos fugit tempora, omnis natus ducimus amet officiis reprehenderit delectus perspiciatis labore minus modi quae repudiandae voluptate sapiente commodi asperiores ipsa!
        Impedit animi libero recusandae voluptatibus. Vel maxime id doloribus provident dolor officiis, molestias aliquam nulla dolores aliquid eligendi accusamus magnam voluptates veritatis voluptatibus, quaerat quam unde ex itaque. Culpa, fugiat.</p>
    </div>
</div>

{% endblock content %}


